:root {
    --theme-dark: #171820;
    --theme-orange: #fdc029;
    --theme-light-orange: #ffd364;
    --theme-dark-orange: #df861d; 
    --theme-brown: #aa3d01;    
}

.container {      
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2em 7fr 1fr;
    grid-gap: 1em;
}

.navbar {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    top: 0;         
}

.sidebar {
    grid-row: 2 / -2;
    grid-column: 1 / 2;  
    margin-right: .5em;

    display: grid;
    grid-template-rows: 11fr 1fr;
}
#calculate {
    grid-row: -2 / -1;
}
#info {
    grid-row: 1 / 2;
}

button {
    background-color: var(--theme-orange);
    border: none !important;
    color: var(--theme-dark);
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;    
    cursor: pointer;
}

button:focus {
    box-shadow: 0 0 3px var(--theme-brown);
    outline: var(--theme-brown);
}

#calculate {
    position: relative;
    bottom: 0;
}


#search {
    grid-row: 2 / 3;
    grid-column: 2 / -1;
}
#pac-input {
    border: 1px solid grey;
    padding: .4em;
    background-color: #fff;
    font-family: Roboto;
    font-size: 100%;
    text-overflow: ellipsis;
    width: 100%;    
    box-sizing: border-box;  
}
input:focus { 
    box-shadow: 0 0 3px var(--theme-orange);
    outline: var(--theme-dark-orange);
}

#map {
    grid-row: 3 / 4;
    grid-column: 2 / -1;
}

.instructions {        
    grid-row-start: -2 / -1;
    grid-column: 1 / -1;
    padding-top: 0;
    margin-top: 0;



    text-align: center;
    background-color: var(--theme-orange);
    font-weight: bold;   
    color: var(--theme-dark); 

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}

h2, h3, h4 {    
    margin-top: 3em;
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
    color: var(--theme-dark);
}

body {
    background-color: rgb(247, 247, 247);
    font-family: 'Roboto', sans-serif;
}

#infowindow-content .title {
    font-weight: bold;  
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

#sun {
    color: var(--theme-orange);
}

